.navcell {
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.navbar > .flex-navbar > a {
	color: red;
}

.navbar-brand {
	flex-grow:1;
}

.navbar-toggle {
	
}

.navbar-collapse {
	display: flex;
	flex-grow:4;
}

.navbar-form {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.flex-navbar a {
	color: #550000;
}